# Configurações do Firebase para o Smart Canteiro CQ
VITE_FIREBASE_API_KEY=AIzaSyBu68N4TbNfOdyN2Cw-qs4NhlPSy2YWnV4
VITE_FIREBASE_AUTH_DOMAIN=symmetric-bit-0mln4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=symmetric-bit-0mln4
VITE_FIREBASE_STORAGE_BUCKET=symmetric-bit-0mln4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=777263008140
VITE_FIREBASE_APP_ID=1:777263008140:web:1e67dd903d363c90096ea9
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-smartcanteirocq-4e4a9f3d-0304-4ddd-9b7a-b81107b19989
